@font-face {
  font-family: "Linux Libertine Mono";
  src: url("/assets/LinLibertine_M.otf");
}

html {
  box-sizing: border-box;
  font-family: "Linux Libertine Mono", "Times New Roman", Times, serif;
  vertical-align: baseline;
  font-size: 100%;
  color: var(--accent);
}
  
*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
  vertical-align: inherit;
  color: inherit;
}

:root {
  --accent: #11d411;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: var(--accent);
}

::selection {
  background: var(--accent); /* WebKit/Blink Browsers */
  color: black;
}

::-moz-selection {
  background: var(--accent); /* Gecko Browsers */
  color: black;
}

p, a {
  background: black;
}

a:hover {
  background: var(--accent);
  color: black;
}

body {
  background-image: url("/assets/background/bg0.png");
  background-size: cover;
}

ul {
    list-style: circle;
}

.box {
  width: 600px;
  padding: 15px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  /*background-color: rgba(0, 0, 0, 0);
  background-size: 100%;
  border: solid var(--accent);
  border-width: 2px;
  */
  position: relative;
}